In [1]:
import numpy as np
import pandas as pd

In [2]:
%ls

all_data_wk4.csv                                     sales_train_v2.csv
all_ones.csv                                         sample_submission.csv
data/                                                sample_submission.csv.gz
EDA_1st_week.ipynb                                   shop_names_extract.ipynb
evaluations_others/                                  shops.csv
ideas.txt                                            submission.csv
item_categories.csv                                  submission_leak_lgb.csv
items.csv                                            submission_leak_lr.csv
predict_wk4-best.ipynb                               test.csv
predict_wk4-best_lr_0.01_n_est_300_lags_12612.ipynb  test.csv.gz
predict_wk4.ipynb                                    test_to_daily.ipynb
previous_values.csv                                  XGBreg_daily.ipynb
rhod_mod.ipynb                                       X_train_wk4.csv
sales_train.csv.gz

In [4]:
shops = pd.read_csv('shops.csv')
shops.tail()

                   shop_name  shop_id
55  Цифровой склад 1С-Онлайн       55
56      Чехов ТРЦ "Карнавал"       56
57   Якутск Орджоникидзе, 56       57
58   Якутск ТЦ "Центральный"       58
59    Ярославль ТЦ "Альтаир"       59

In [11]:
shops['shop_name'].apply(lambda n: n.split()[0]).nunique()

32

In [12]:
shops['loc'] = shops['shop_name'].apply(lambda n: n.split()[0])
shops.head(10)

                        shop_name  shop_id       loc
0   !Якутск Орджоникидзе, 56 фран        0   !Якутск
1   !Якутск ТЦ "Центральный" фран        1   !Якутск
2                Адыгея ТЦ "Мега"        2    Адыгея
3  Балашиха ТРК "Октябрь-Киномир"        3  Балашиха
4        Волжский ТЦ "Волга Молл"        4  Волжский
5          Вологда ТРЦ "Мармелад"        5   Вологда
6      Воронеж (Плехановская, 13)        6   Воронеж
7          Воронеж ТРЦ "Максимир"        7   Воронеж
8    Воронеж ТРЦ Сити-Парк "Град"        8   Воронеж
9               Выездная Торговля        9  Выездная

In [13]:
shops.to_csv('shops_loc.csv', index=False)